*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 133px 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: grid;
  grid-template-columns: auto auto;
  place-content: start space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__card-link {
  text-decoration: none;
  margin: 2px;
  display: block;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: #fff;
  max-width: 200px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 100%;
}

.content__accent {
  color: #545050;
}

.button {
  width: 194px;
  height: 34px;
  /* margin-top: 20px; */
  gap: 10px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  /* margin-bottom: 3.5px; */
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  align-self: flex-end;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  align-items: start;
}

.search-form__textfield {
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  min-width: 225px;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8.5px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #fff;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.button:hover,
.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}
